include ../circle-avatar/circle-avatar
include __time/chat-item__time
include __notification/chat-item__notification

mixin chat-list__item(url, name, sender, message, time, notification)
    link(rel="stylesheet", href="/src/components/chat-item/chat-item.sass")
    .chat-list__item
        .item-person-info
            +circle-avatar(url)
            .item-title
                h4= name
                if sender !== ''
                    span
                        strong= sender
                        |  #{message}
                else
                    span= message
        .item-message-info
            if notification
                +chat-item__notification(notification)

            +chat-item__time(time)
