@import 'src/style'

.login-container
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  margin: 7% auto

  .form-mixin
    width: 40%

  .delimiter
    margin-bottom: 5%

  .button-container
    margin: 0 auto

  p
    color: $claret
