@import 'src/style'
@import '__title/form__title'

.form-block
  display: none

.form
  align-items: stretch
  border-color: $gold-crayola
  border-radius: 16px
  border-style: solid
  border-width: 4px
  display: flex
  flex-direction: column

  h3
    margin: 0
    text-align: center

  label
    +label-font
    color: $mandarine-orange

  input
    +label-font
    background: transparent
    border-width: 0
    box-shadow: none
    outline: none
    width: 100%

  .form-content
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0 36px
