mixin delimiter
  - const id = Math.random() * 100000;
  div
    script(id=id, type="module").
      import Delimiter from "/src/components/delimiter/delimiter.ts";
      document.getElementById("#{id}").parentNode.innerHTML += (new Delimiter()).element
