mixin chat-item__notification(notification)
    link(rel="stylesheet", href="/src/components/chat-item/__notification/chat-item__notification.sass")
    .chat-item__notification
        span= notification
