@import 'src/style'

$icon-send-background-shadow: rgba(0, 0, 0, .25)

.chat-view__footer
  align-items: center
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-top: 16px
  width: 100%

  input
    +link-font
    background: $search-bar-background
    border-radius: 32px
    border-width: 0
    box-shadow: none
    color: $dark-violet
    height: 48px
    outline: none
    padding: 0 16px
    width: 80%

  .icon-send-background
    -webkit-filter: $icon-send-background-shadow
    align-items: center
    background: $khaski-web
    border-radius: 50%
    display: flex
    height: 70px
    justify-content: center
    width: 70px

    .icon-send
      margin-left: 10px
      object-fit: fill
