mixin chat-view__footer(url, name)
    script(type="module").
      import ChatViewFooter from "/src/components/chat-view/__footer/chat-view__footer.ts";
      document.currentScript.parentNode.innerHTML += (new ChatViewFooter()).element
