.profile-container
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  margin: 2%

  .profile-info-container
    width: 50%

  .button-container
    margin: 32px auto 0
    width: 50%
