include ../../circle-avatar/circle-avatar
include ../../link/link

mixin profile-info__header(name, url)
    link(rel="stylesheet", href="/src/components/profile-info/__header/profile-info__header.sass")
    .profile-info__header
        +link('/src/pages/chat-not-selected/chat-not-selected.pug')
            i.icon-arrow_back_ios
        .header-avatar-with-name
            +circle-avatar(url)
            if name !== ''
                h4= name
