@import 'src/style'

.header-container
  display: flex
  flex-direction: column

  .header-title
    align-items: baseline
    display: flex
    justify-content: space-between

    h3
      margin: 0
      white-space: nowrap

  .header-search-bar
    align-items: center
    background: $search-bar-background
    border-radius: 16px
    display: flex
    height: 48px
    justify-content: center
    margin: 4% 0

    i
      margin-right: 1%

    > *
      +link-font
