mixin chat-list__header
  - const id = Math.random() * 100000;
  script(id=id, type="module").
      import ChatListHeader from "/src/components/chat-list/__header/chat-list__header.ts";
      document.getElementById("#{id}").parentNode.innerHTML += (new ChatListHeader({})).element
