include ../../link/link

mixin chat-list__header
    link(rel="stylesheet", href="/src/components/chat-list/__header/chat-list__header.sass")
    .header-container
        .header-title
            h3 Chat app
            div
                +link('/src/pages/profile/profile.pug')
                    p Профиль
                    i.icon-chevron-right
        .header-search-bar
            i.icon-mdi_magnify
            span Поиск

