@import "src/style"

.registration-container
  margin: 2% auto

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .form
    width: 50%

  .delimiter
    margin-bottom: 5%

  p
    color: $claret
