extends ../../layout/main/main

include ../../components/form/form
include ../../components/button/button
include ../../components/input/input
include ../../components/link/link
include ../../components/delimiter/delimiter

block content
    link(rel="stylesheet" href="registration.sass")
    .registration-container
        +form('Chat app')
            h3 Регистрация
            label(for="email") Почта
            +input("email", "email", "email")
            +delimiter
            label(for="login") Логин
            +input("login", "text", "login")
            +delimiter
            label(for="first_name") Имя
            +input("first_name", "text", "first_name")
            +delimiter
            label(for="second_name") Фамилия
            +input("second_name", "text", "second_name")
            +delimiter
            label(for="phone") Телефон
            +input("phone", "tel", "phone")
            +delimiter
            label(for="password") Пароль
            +input("password", "password", "password")
            +delimiter
            label(for="password1") Пароль (ещё раз)
            +input("password1", "password", "password1")
            +delimiter
            +button('Зарегистрироваться', '../chat-not-selected/chat-not-selected.html')
            +link('../login/login.html')
                p Вход
    script(type="module", src="./registration.ts")
