.chat-view__header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 100%

  .header-user-info
    display: flex

    .circle-avatar
      width: 86px
      height: 86px
      margin-right: 25px
