mixin chat-preview
  - const id = Math.random() * 100000;
  div
    script(id=id, type="module").
      import ChatPreview from "/src/components/chat-preview/chat-preview.ts";
      document.getElementById("#{id}").parentNode.innerHTML += (new ChatPreview()).element
