.home-container
  align-items: stretch
  display: flex
  flex-direction: row
  justify-content: space-between

  .home-column
    display: flex
    flex-basis: 50%
    flex-direction: column
    margin-top: 10px

    .button
      margin: 20%
