extends ../../../layout/main/main

include ../../../components/link/link


block content
    link(rel="stylesheet" href="404.sass")
    .error-container
        h1 404
        h3 Такой страницы не найдено
        +link("../../index.pug")
            p Назад к чатам
            i.icon-chevron-right
