extends ../../layout/main/main

include ../../components/chat-list/chat-list

block content
    link(rel="stylesheet" href="chat-list.sass")
    .chat-list-container
        +chat-list
        .chat-preview
            i.icon-planet
            p Выберете чат
            i.icon-star

