mixin chat-view(url, name, messages)
    script(type="module").
      import ChatView from "/src/components/chat-view/chat-view.ts";
      document.currentScript.parentNode.innerHTML += (new ChatView({
      url: "#{url}",
      name: "#{name}",
      messages: JSON.parse('!{JSON.stringify(messages)}')
      })).element

      import { setValidator, validateMessage } from "/src/utils/validators.ts";
      let messageInput: HTMLInputElement = document.querySelector("#message");
      messageInput = document.querySelector("#message");
      setValidator(messageInput, validateMessage);
