mixin circle-avatar(url)
    script(type="module").
      import CircleAvatar from "/src/components/circle-avatar/circle-avatar.ts";
      document.currentScript.parentNode.innerHTML += (new CircleAvatar({
      url: "#{url}",
      })).element
