@import "src/style"

.chat-view__message
  padding: 10px
  border-radius: 16px
  max-width: 50%
  margin-top: 10px

  .message-time
    float: right
    margin: 7px 0 0 7px

    .message-time-text
      +hint-font
      background: $khaski-web
      border-radius: 16px
      padding: 0 9px
