mixin chat-view__message(content, time, sender)
    script(type="module").
      import ChatViewMessage from "/src/components/chat-view/__message/chat-view__message.ts";
      document.currentScript.parentNode.innerHTML += (new ChatViewMessage({
      content: "#{content}",
      time: "#{time}",
      sender: "#{sender}",
      })).element
