mixin chat-list(items)
    script(type="module").
      import ChatList from "/src/components/chat-list/chat-list.ts";
      document.currentScript.parentNode.innerHTML += (new ChatList({
      items: JSON.parse('!{JSON.stringify(items)}')
      })).element
