mixin chat-list(items)
  - const id = Math.random() * 100000;
  script(id=id, type="module").
      import ChatList from "/src/components/chat-list/chat-list.ts";
      document.getElementById("#{id}").parentNode.innerHTML += (new ChatList({
      items: JSON.parse('!{JSON.stringify(items)}')
      })).element
