@import 'src/style'
@import '--important/link_important'

.link-block
  display: none

.link-container
  align-items: center
  cursor: pointer
  display: flex
  justify-content: center
  position: relative

  .link
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

  > *
    +link-font
    text-decoration: none
