mixin link(url)
  div.link-mixin
    if block
      .link-block
        block
    script(type="module").
      import Link from "/src/components/link/link.ts";
      let linkElement = (new Link({
      url: "#{url}",
      }))
      linkElement.setInnerBlock(document.currentScript.parentNode.firstChild.innerHTML)
      document.currentScript.parentNode.innerHTML += linkElement  .element

